<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EngageX</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
<body>
    <!-- header start -->
    <header>
        <nav>
            <div class="logo-class"><img class="logo"  src="{%static 'images\engagex-high-resolution-logo-black-transparent.png' %}" alt=""></div>
            <ul class="nav-links">
                <li><span class="material-symbols-outlined">home</span><a href="#home">Home</a></li>
                <li><span class="material-symbols-outlined">info</span><a href="#about">About</a></li>
                <li><span class="material-symbols-outlined">call</span><a href="#contact">Contact</a></li>
                {%if user.is_authenticated%}
                <li><span class="material-symbols-outlined">person</span><a href="/account/profile">{{user.username}}</a></li>
                {%else%}
                <li><span class="material-symbols-outlined">person</span><a href="/account/login">Sign In</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>
    <!-- header end -->

    <!-- project description section start -->
    <section class="project-description">
        <div class="container">
            <h2>About Our Project</h2>
            <p>Our project aims to revolutionize the way you manage your tasks and projects. With our intuitive design and powerful features, you'll be able to stay organized and efficient like never before.</p>
            <a href="#signup" class="btn large">Sign Up Now</a>
        </div>
        <div class="image-container">
            <img src="{%static 'images\pexels-pixabay-267350.jpg' %}" alt="" class="image1">
        </div>
    </section>
    <!-- project description section end -->
</body>
</html>