<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="{% static 'css\search.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo-class">
                <img class="logo" src="{% static 'images/engagex-high-resolution-logo-black-transparent.png' %}" alt="EngageX Logo">
            </div>
            <form method="GET" action="/search">
                {% csrf_token %}
                <div class="search-bar">
                    <input type="text" name="query" placeholder="Search for brands or creators...">
                    <button type="submit">Search</button>
                </div>
            </form>
            <ul class="nav-links">
                <li><span class="material-symbols-outlined">home</span><a href="/">Home</a></li>
                <li><span class="material-symbols-outlined">info</span><a href="#about">About</a></li>
                <li><span class="material-symbols-outlined">call</span><a href="#contact">Contact</a></li>
                {% if user.is_authenticated %}
                <li><span class="material-symbols-outlined">manage_accounts</span><a href="/account/profile">{{ user.username }}</a></li>
                {% else %}
                <li><span class="material-symbols-outlined">person</span><a href="/account/login">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="profile-list" id="profileList">
                {%for creator in search %}
                <div class="profile-item">
                    <img src="{{creator.profile_img.url}}" alt="Profile Picture" class="profile-pic">
                    <div class="profile-info">
                        <h2>{{creator.username}}</h2>
                        <p>Industry: Fashion</p>
                        <p>Followers:{{creator.subscriber}} </p>
                        <p>Reach:{{creator.reach}} </p>
                        <p>videos uploaded:{{creator.videos}} </p>

                    </div>
                    <button class="collaborate-btn">Collaborate</button>
                </div>
                
                {%endfor%}

                <!-- {%for profile in search%}
                <p>{{profile.username}}</p>
                {%endfor%}   -->
            </div>
        </div>
    </main>
    <!-- <script src="search.js"></script> -->
</body>
</html>
